@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{

    <table cellspacing="10">
        <tr>
            <td colspan="2">Login</td>
        </tr>
        <tr>
            <td>
                Enter Email ID :
            </td>
            <td>
                @Html.TextBox("txtEmailId", null, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                Enter Password :
            </td>
            <td>
                @Html.Password("txtPassword", null, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Login" class="btn btn-default" />
            </td>
        </tr>
    </table>
}